body {
  font-family: Arial, Helvetica, sans-serif;
}

#content-container {
  display: flex;
  margin: 20px
}

#card {
  box-shadow: 0 0 5px;
  border-radius: 5px;
  padding: 12px;
  margin: 8px;
  width: 180px
}

img {
  width: 50px;
}